/.bundle/
/.ruby-version
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/spec/reports/
/tmp/
log/*.log
pkg/
tags

# rspec failure tracking
.rspec_status
rspec_status

.internal_test_app
.internal_test_gem

/node_modules/
