/.bundle/
/.ruby-version
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/spec/reports/
/tmp/
log/*.log
pkg/

# rspec failure tracking
.rspec_status
rspec_status

.internal_test_app

/node_modules/
