log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
/.bundle/
/.ruby-version
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

.internal_test_app

/node_modules/
